.DrawerToggle {
    display: none;
}

@media (max-width: 550px) {
    .DrawerToggle {
        width: 40px;
        height: 50%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin-left: auto;
        margin-right: 30px;
        padding: 10px 0;
        box-sizing: border-box;
        cursor: pointer;
    }
    .DrawerToggle div {
        width: 90%;
        height: 3px;
        background-color: white;
    }
}