.App {
  text-align: center;
}
p{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #090909;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #BF7A4D;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #BF7A4D; /* creates padding around scroll thumb */
}